/*
   Bootstrap Sass Theme
   Author: Suraj Shrestha
   Version: 0.0.1
*/
/* BASE - Base styles, Variables, Mixins, normalize */
/* Font Colors */
/* Background Colors */
/* Showcase Area */
body {
  font-family: "Segoe UI", "Segoe WP", "Segoe Regular", sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 1.7em;
  color: #666666; }

a {
  color: #3F8827; }

ul, li {
  list-style: none; }

/*
input, textarea, button {
  @include border-radius(5px);
}
*/
img.device {
  width: 100%; }

img.device-small {
  width: 70%;
  margin-bottom: -30px; }

h1, h2, h3, h4, h5 {
  margin-top: 0; }

.page-header {
  margin-top: 30px; }

.no-pad-top {
  padding-top: 0; }

.extra-pad {
  padding-top: 40px;
  padding-bottom: 30px; }

.top-inner {
  padding: 90px 0 30px 0; }

/* Image Size */
.img-xsm {
  width: 100px; }

.img-sm {
  width: 200px; }

.img-lg {
  width: 400px; }

.img-xlg {
  width: 700px; }

/* MODULES - Individual site components */
/* Blocks */
.block, .block-primary, .block-secondary, .block-dark, .block-light {
  padding: 15px;
  margin-bottom: 15px; }
  .block h3, .block-primary h3, .block-secondary h3, .block-dark h3, .block-light h3 {
    margin-top: 0;
    padding-top: 0; }

.block-primary {
  background: #3F8827;
  color: #fff; }

.block-secondary {
  background: #4862A3;
  color: #fff; }

.block-dark {
  background: #2F2F2F;
  color: #fff; }

.block-light {
  background: #CCCCCC;
  color: #2F2F2F; }

.block-center {
  text-align: center; }

.block-image img {
  width: 100%; }

.block-border {
  border: 2px solid #3F8827; }

.block-primary-head h3 {
  padding: 10px;
  background: #3F8827;
  color: #fff;
  margin: 0;
  font-size: 18px; }

.block-primary-head .block-content {
  border: 1px solid #3F8827;
  padding: 10px; }
  .block-primary-head .block-content li:last-child {
    border: 0; }

.block-primary-head .video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px; }
  .block-primary-head .video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.block-icon h3 {
  padding: 0;
  margin: 0; }

.block-icon .icon {
  float: left;
  width: 20%;
  margin-top: 10px; }

.block-icon .icon-content {
  float: left;
  width: 70%; }

/* Buttons */
.btn-primary {
  background: #3F8827;
  color: #fff;
  border: 1px solid #B4B4B4; }

.btn-primary:hover {
  background: #2d601c;
  border: 1px solid #B4B4B4; }

/* Carousel */
.carousel {
  margin-bottom: 10px; }

.carousel img {
  padding: 3px;
  border: 1px solid #cccccc; }

/* Tabs */
.tab-primary .tab-pane, .tab-primary .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  background: #CCCCCC;
  color: #2F2F2F;
  border-left: 1px solid #CCCCCC; }

.tab-pane {
  padding: 20px 10px; }

/* Sections */
section {
  padding: 30px 0; }

.section-main + h2 {
  color: #3F8827; }

.section-showcase {
  height: 400px;
  background: url("../img/showcase.jpg") no-repeat center top; }
  .section-showcase .showcase-content {
    padding: 120px 15px;
    text-align: center; }
  .section-showcase h1 {
    color: #3F8827; }

.section-primary {
  background: #3F8827;
  color: #fff; }

.section-primary-a {
  background-color: #2F2F2F;
  color: #B4B4B4;
  border-top: 4px solid #3F8827; }

.section-dark {
  background: #2F2F2F;
  color: #fff; }

.section-light {
  background: #CCCCCC;
  color: #2F2F2F; }

.section-map iframe {
  pointer-events: none; }

/* Lists */
.list, .list-feature {
  margin-bottom: 30px; }

.list-feature {
  margin: 0;
  padding: 0;
  width: 80%; }
  .list-feature li {
    line-height: 3em;
    border-bottom: 1px solid #2F2F2F; }
  .list-feature li:last-child {
    border: 0; }
  .list-feature span {
    font-size: 1.2em;
    padding-left: 5px; }

.list-comments {
  margin: 0;
  padding: 0; }
  .list-comments li {
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
    overflow: auto !important; }
  .list-comments li:last-child {
    border: 0; }

.list-comments img {
  float: left;
  margin-right: 5px; }

/* Icons */
.fa-2 {
  font-size: 18px; }

.fa-3 {
  font-size: 24px; }

.fa-4 {
  font-size: 28px; }

.fa-5 {
  font-size: 34px; }

.fa-6 {
  font-size: 40px; }

.fa-primary {
  color: #3F8827; }

.fa-border {
  border: 1px solid #3F8827;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
  width: 60px;
  margin-bottom: 10px; }

/* Headings */
.heading-primary, .heading-primary-a {
  color: #3F8827; }

.heading-primary-a {
  border-bottom: 2px solid #3F8827; }

.heading-secondary, .heading-secondary-a {
  color: #2F2F2F; }

.heading-secondary-a {
  border-bottom: 1px solid #2F2F2F; }

.heading-light {
  color: #CCCCCC; }

.heading-dark {
  color: #2F2F2F; }

/* Emphasis text */
.em-primary {
  color: #3F8827; }

/* Searchbox */
.search {
  width: 100%; }
  .search input[type="search"] {
    height: 40px;
    width: 60%;
    border: 2px solid #3F8827;
    font-size: 18px;
    padding-left: 10px; }
  .search button {
    border: 1px solid #3F8827;
    background: #3F8827;
    color: #fff;
    vertical-align: top;
    margin-left: -4px; }

/* LAYOUTS - Page layout styles */
/* Navbar */
.navbar {
  min-height: 60px;
  background: #fff;
  margin-bottom: 30px;
  border-color: #3F8827; }
  .navbar a {
    color: #3F8827 !important;
    padding-bottom: 20px !important;
    padding-top: 24px !important;
    letter-spacing: -0.5px; }

.navbar-inverse .navbar-nav > li > a:hover {
  background-color: #3F8827 !important;
  color: #fff !important; }

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
  background-color: #3F8827 !important;
  color: #fff !important; }

/* Footer */
.footer-main {
  background: #2F2F2F;
  border-top: 5px solid #CCCCCC;
  min-height: 200px;
  padding: 30px 0;
  z-index: 100; }
  .footer-main h4 {
    color: #fff; }
  .footer-main ul {
    margin: 0;
    padding: 0; }
  .footer-main li {
    line-height: 1.8em;
    list-style: none; }
  .footer-main a:hover {
    color: #51b032; }

/* Blog */
.blog-post {
  border-right: 1px solid #CCCCCC;
  border-left: 1px solid #CCCCCC;
  border-top: 1px solid #CCCCCC;
  padding: 15px; }
  .blog-post h2.page-header {
    margin-top: 5px; }

.blog-featured {
  float: left;
  margin-right: 15px; }

.post-meta {
  background: #f3f3f3;
  padding: 10px;
  border: 1px solid #CCCCCC;
  margin-bottom: 20px; }
  .post-meta i {
    padding-left: 5px; }

@media (max-width: 768px) {
  .navbar-toggle {
    background: #3F8827;
    border-color: #CCCCCC !important; }
  .section-showcase .showcase-content {
    padding-top: 80px; }
  .search {
    display: inline-block;
    text-align: center; }
  h2 {
    padding-left: 10px; }
  .device {
    display: block;
    margin: 20px auto 0 auto; }
  .device-small {
    margin-bottom: 20px !important; }
  .footer-main ul {
    margin-bottom: 20px;
    text-align: center; }
  .footer-main h4 {
    text-align: center; }
  .post-meta i {
    padding-left: 0; }
  /* Contact Page */
  .section-map iframe {
    width: 100%; } }
