/* Font Colors */
$base-font-size: 15px;
$base-font-family: "Segoe UI", "Segoe WP", "Segoe Regular", sans-serif;
$base-font-color: #666666;

/* Background Colors */
$primary-color: #3F8827;
$secondary-color: #4862A3;
$dark-color: #2F2F2F;
$light-color: #CCCCCC;

/* Showcase Area */
$showcase-height: 400px;
$showcase-image: "../img/showcase.jpg";