/* Navbar */
.navbar {
  min-height: 60px;
  background: #fff;
  margin-bottom: 30px;
  border-color: $primary-color;

  a {
    color: $primary-color !important;
    padding-bottom: 20px !important;
    padding-top: 24px !important;
    letter-spacing: -0.5px;
  }
}

.navbar-inverse .navbar-nav > li > a:hover {
  background-color: $primary-color !important;
  color: #fff !important;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
  background-color: $primary-color !important;
  color: #fff !important;
}
