/* Lists */
.list {
  margin-bottom: 30px;
}

.list-feature {
  @extend .list;
  margin: 0;
  padding: 0;
  width: 80%;

  li {
    line-height: 3em;
    @include add-border(1px, $dark-color, bottom);
  }

  li:last-child {
    border: 0;
  }

  span {
    font-size: 1.2em;
    padding-left: 5px;
  }
}

.list-comments {
  margin: 0;
  padding: 0;

  li {
    padding: 10px 0;
    @include add-border(1px, #ccc, bottom);
    overflow: auto !important;
  }

  li:last-child {
    border: 0;
  }
}

.list-comments img {
  float: left;
  margin-right: 5px;
}

/* Icons */

.fa-2 {
  font-size: 18px;
}

.fa-3 {
  font-size: 24px;
}

.fa-4 {
  font-size: 28px;
}

.fa-5 {
  font-size: 34px;
}

.fa-6 {
  font-size: 40px;
}

.fa-primary {
  color: $primary-color;
}

.fa-border {
  @include add-border(1px, $primary-color, all);
  @include border-radius(30px);
  width: 60px;
  margin-bottom: 10px;
}

/* Headings */
.heading-primary {
  color: $primary-color;
}

.heading-primary-a {
  @extend .heading-primary;
  @include add-border(2px, $primary-color, bottom);
}

.heading-secondary {
  color: $dark-color;
}

.heading-secondary-a {
  @extend .heading-secondary;
  @include add-border(1px, $dark-color, bottom);
}

.heading-light {
  color: $light-color;
}

.heading-dark {
  color: $dark-color;
}

/* Emphasis text */
.em-primary {
  color: $primary-color;
}